@use "../abstract" as *;

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */

.wrapper {
  inline-size: 95vw;

  max-inline-size: rem(1300);
  margin-inline: auto;
  padding-inline: 1.5rem;

  // position: relative;
}

.stack > * + * {
  margin-block-start: var(--space, 1.25rem);
}

.total-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-grow {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% / 1, max(rem(200), 100% / 5)), 1fr)
  );
  align-items: center;
  justify-items: center;
}

.even-columns {
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @include breakpoint(medium) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.first-column {
  grid-column: 1/2;
}

body {
  background-color: var(--clr-neutral-100);
  background-image: url("../assets/svg/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

main {
  position: relative;

  display: grid;

  grid-template-columns: 1fr;
  align-content: center;
  @include breakpoint(medium) {
    align-content: center;
    justify-content: center;
  }
  block-size: 100vh;

  overflow: hidden;
}

/* layout */
.card {
  &:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    transform: translateX(100%);

    opacity: 0%;
  }
}

.card__child {
  position: relative;

  p {
    text-shadow: rem(1) 0 rem(2) rgba(0, 0, 0, 30%);
  }

  &:nth-child(1) {
    @include breakpoint(medium) {
      grid-row: 1 / 2;
      grid-column: 2 / 4;
      order: 1;
    }
  }

  &:nth-child(2) {
    @include breakpoint(medium) {
      max-inline-size: 80%;

      z-index: 2;

      grid-row: 1 / 2;

      grid-column: 1 / 3;
    }
  }
}
